<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"/>

<h1>{{ title }}</h1>

<nav>
  <a routerLink="./hello-world" routerLinkActive="st-active"><i class="material-symbols-outlined">Home</i> Hello World</a>
  <a routerLink="./profile" routerLinkActive="st-active"><i class="material-symbols-outlined">Boy</i> Profile</a>
  <a routerLink="./friend" routerLinkActive="st-active"><i class="material-symbols-outlined">Groups</i> Friend</a>
  <a routerLink="./status" routerLinkActive="st-active"><i class="material-symbols-outlined">Cyclone</i> Status</a>
</nav>

<router-outlet></router-outlet>



