.material-symbols-outlined {
  font-variation-settings: 'FILL' var(--app-icon-fill), 'wght' 400, 'GRAD' 0,
    'opsz' 48;
}

a
{
  color: rgb(0, 0, 0); text-decoration: none; border: 1px solid rgb(0, 0, 0); border-radius: 4px;
}

a.st-active {
  background-color: rgb(255, 221, 2);
}

a{
  margin-left: 10px;
  margin-right: 10px;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 5px;
  padding-bottom: 10px;
}

h1 {
  text-align: center;
}

nav{
  display: flex;
  justify-content: center;
}
