<div>
<h2>{{ title }}</h2>

<h3>Basic Information</h3>
<ul>
  <li><b>Name:</b> Decha Komin Ratthapinijsakul</li>
  <li><b>Gender:</b> LGBTQ</li>
  <li><b>Age:</b> 20</li>
</ul>

<h3>Autobiography</h3>
<p>An autobiography is a literary genre that is a self-written account of a person's life.
  It is often written by people who are well recognised or well-renowned in an attempt to inform the reader of their thoughts and experiences,
  but they can be written by anyone.An autobiography is a literary genre that is a self-written account of a person's life. It is often written
  by people who are well recognised or well-renowned in an attempt to inform the reader of their thoughts and experiences, but they can be written by anyone.
  An autobiography is a literary genre that is a self-written account of a person's life. It is often written by people who are well recognised or
  well-renowned in an attempt to inform the reader of their thoughts and experiences, but they can be written by anyone.
  An autobiography is a literary genre that is a self-written account of a person's life. It is often written by people who are well recognised
  or well-renowned in an attempt to inform the reader of their thoughts and experiences, but they can be written by anyone.
</p>

<h3>GitHUb Pages</h3>
<a href="https://github.com/camt-mmit/2023_01-954447-001-lab-02-dom-and-javascript-642110130/commits?author=642110130" routerLinkActive="st-active">Lab02</a>
<a href="" routerLinkActive="st-active">Lab03</a>
<a href="" routerLinkActive="st-active">Lab04</a>

</div>
